.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  padding-right: 0px;
}
.contentWrapper {
  padding-left: 0px;
}
.contentWrapper {
  flex: 1;
}
.content {
  padding: 20px;
}
