.cardWrapper {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius:10px;
  cursor:pointer; 
  transition:all 300ms;
}

 .selected{
  background:#2aad2a;
  color:white
}
